* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* The lines above are suggested boilerplate code */

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.darktext {
    background-color: #333;
    color: white;
    padding: 1em;
    width: 50%;
}